In [1]:
#dependices
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests

In [2]:
#Files Names to be read from CSV
file1 = ['202212-citibike-tripdata.csv', '202301-citibike-tripdata.csv', '202302-citibike-tripdata.csv', '202303-citibike-tripdata.csv', '202304-citibike-tripdata.csv', '202305-citibike-tripdata.csv',]

In [3]:
#create list to store dataframes
df_list = []

#loop through files and read into dataframe
for file in file1:
    df = pd.read_csv(file)
    df_list.append(df)

#concatenate dataframes
df = pd.concat(df_list)

#display dataframe
df.head()

C:\Users\EMARTIN8169\AppData\Local\Temp\ipykernel_23760\2559302014.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\EMARTIN8169\AppData\Local\Temp\ipykernel_23760\2559302014.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\EMARTIN8169\AppData\Local\Temp\ipykernel_23760\2559302014.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\EMARTIN8169\AppData\Local\Temp\ipykernel_23760\2559302014.py:6: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\EMARTIN8169\AppData\Local\Temp\ipykernel_23760\2559302014.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)
C:\Users\EMARTIN8169\AppData\Local\Temp\ipykernel_23760\2559302014.py:6: DtypeWarning: Columns (5,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file)

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,0EF496F342AD4E7E,classic_bike,2022-12-05 17:47:32,2022-12-05 18:13:10,DeKalb Ave & Hudson Ave,4513.06,Perry St & Bleecker St,5922.07,40.689909,-73.980552,40.735354,-74.004831,member
1,4B9482CBC3FAC46B,classic_bike,2022-12-08 19:08:05,2022-12-08 19:20:23,E 128 St & Madison Ave,7735.23,E 142 St & 3 Ave,7781.10,40.807518,-73.939027,40.812735,-73.923697,member
2,59F23FEB16138E43,classic_bike,2022-12-22 19:11:48,2022-12-22 19:21:46,E 128 St & Madison Ave,7735.23,E 142 St & 3 Ave,7781.10,40.807569,-73.939101,40.812735,-73.923697,member
3,974F8AE1F18859F4,classic_bike,2022-12-12 08:38:09,2022-12-12 08:43:43,Driggs Ave & N Henry St,5542.04,Meserole Ave & Manhattan Ave,5666.04,40.723208,-73.943045,40.727086,-73.952991,casual
4,4B04C5C25EC9D6ED,classic_bike,2022-12-13 12:29:54,2022-12-13 12:36:35,3 St & 3 Ave,4028.03,Carroll St & 6 Ave,4019.06,40.675070,-73.987752,40.674089,-73.978728,member

In [4]:
#list columns
df.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [5]:
#export to CSV file
df.to_csv('CitiBikeData.csv', index=False)